<div class="frame-wrapper3">
  <div class="frame-parent4">
    <!-- <div class="frame-child7"></div> -->
    <img class="unsplash7cyehjgcosi-icon" alt="" src="/assets/images/about.png" />

    <div class="frame-wrapper4">
      <div class="frame-parent5">
        <div class="about-us-title-parent">
          <div class="about-us-title">
            <h1 class="about-us1">About Us</h1>
          </div>
          <div class="about-us-description">
            <div class="we-will-help-container">
              <p class="we-will">
                We will Help Engineer and make his work more effective
                and archive it as well as .

                this website help with nutrition of Big Animal buffalo
                and cow.
             </p>
              <p class="this-website-help">
                engineer in animal product May Actually Work for 24 h
                so we decide to make his Workdays more smooth .
              </p>
            </div>
          </div>
        </div>
        <div class="about-us-title-parent">
          <div class="animals-container">
            <h1 class="who-we-are">Who WE are ?</h1>
          </div>
          <div class="we-are-a-team-try-to-make-life-wrapper">
            <div class="we-are-a-container">
              <p class="this-website-help">
                We are a team try to make life of big animal Better by better Nutrition , focus on vaccinations and General Healthcare.
               <br> That's also helps engineer in work and Help owner of small farms Because narrow money.
              </p>
              <!-- <p class="we-will">

                </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="frame-parent7">
        <div class="e-socoal-parent">
          <div class="e-socoal">
            <img class="social-media-icon" loading="lazy" alt="" src="/assets/images/icons/ss.png" />

            <h3 class="social">Social</h3>
          </div>
          <div class="facebook-parent">
            <img class="facebook-icon" loading="lazy" alt="" src="/assets/images/icons/facebook.png" />

            <img class="facebook-icon" loading="lazy" alt="" src="/assets/images/icons/insta.jpg" />

            <img class="facebook-icon" loading="lazy" alt="" src="/assets/images/icons/linked.jpg" />

            <img class="facebook-icon" loading="lazy" alt="" src="/assets/images/icons/x.jpg" />
          </div>
        </div>
        <div class="connect-us">
          <div class="connect">
            <img class="social-media-icon" loading="lazy" alt="" src="/assets/images/icons/sss.jpg" />

            <h3 class="social">Contact Us</h3>
          </div>
          <div class="phone">
            <div class="phone-email-labels">
              <div class="email-info">Phone</div>
            </div>
            <div class="animals-container">
              <div class="email-info">+201555556781</div>
            </div>
          </div>
          <div class="email1">
            <div class="phone-email-labels">
              <div class="email-info">Email</div>
            </div>
            <div class="animals-container">
              <div class="email-info">Sragmail.com</div>
            </div>
          </div>
          <div class="hours">
            <div class="phone-email-labels">
              <div class="email-info">Hours</div>
            </div>
            <!-- <div class="animals-container">  -->
            <div class="email-info">
              <p class="this-website-help">
                Sun- Mon-Tue-Wed-Thu- Sta
              </p>
              <p class="this-website-help">From 9:00 AM TO 3:00 PM</p>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
